@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>

    <title>ClearWorx</title>
</head>

<body class="font-sans ">
    <div class="bg-cover bg-center w-screen" style="background-image:url('~/images/bia-andrade-PO8Woh4YBD8-unsplash.jpg') ;">
        <div class="bg-gray-200 w-full sm:flex justify-content-between sm:justify-center ">
            <div class="sm:m-2">
                <nav class="flex justify-between">
                    <ul class="text-gray-900 font-bold m-2">Landings</ul>
                    <ul class="text-gray-800 font-bold m-2">Pages</ul>
                    <ul class="text-gray-800 font-bold m-2">Blog</ul>
                    <ul class="text-gray-800 font-bold m-2">Support</ul>

                </nav>

            </div>
            <div class="flex p-2 justify-end ">
                <p class="font-sm m-2 tracking-tight sm:m-4">Sign in</p>
                <button class="rounded-lg p-2 bg-gray-800 sm:m-4 text-white">Register </button>
            </div>

        </div>
        <hr>

        <div class="sm:m-12 m-6">
            <div>
                <h1 class="text-3xl sm:text-6xl text-gray-200 mt-24 font-bold"> Find Exciting <br> Jobs Today</h1>
                <p class="m-2 font-light text-gray-300"> Get most exciting jobs from all around the world <br>
                    and grow with others</p>
                <div class="sm:flex mt-8 text-gray-200">
                    <div class="sm:mr-6">
                        <h6 class="font-bold sm:text-left">Locations</h6>
                        <p class="font-light sm:text-left"> Select your destinations</p>
                    </div>
                    <div class="ml-6">
                        <h6 class="font-bold sm:text-left">Type</h6>
                        <p class="font-hairline sm:text-left"> What kind of role do you want?</p>
                    </div>
                    <div class="ml-12">
                        <button class="rounded-lg p-2 bg-gray-800 m-2 text-white"> Explore Now</button>
                    </div>
                </div>
                <p class="mt-6 text-white"><span class="text-bold">Popular Search:</span> Software Developer,UX
                    Designer, Marketer</p>
            </div>

        </div>
    </div>
    <div class="sm:m-8 w-screen sm:w-content flex justify-between sm:justify-center">
        <div class="sm:flex">
        <img class="sm:m-3 p-6 w-24 h-24  " src="~/images/Google_Maps_logo_PNG1.png" alt="">
        <img class="sm:m-3 p-6 w-24 h-24" src="~/images/KFC_logo_PNG11.png" alt="">
        <img class="sm:m-3 p-6 w-24 h-24" src="~/images/nikePNG.png" alt="">
        <img class="sm:m-3 p-6 w-24 h-24" src="~/images/McDonalds_logo_PNG19.png" alt="">
        </div>
        <div class="sm:flex">
        <img class="sm:m-3 p-6 w-24 h-24" src="~/images/Google_Maps_logo_PNG1.png" alt="">
        <img class="sm:m-3 p-6 w-24 h-24" src="~/images/KFC_logo_PNG11.png" alt="">
        <img class="sm:m-3 p-6 w-24 h-24" src="~/images/nikePNG.png" alt="">
        <img class="sm:m-3 p-6 w-24 h-24" src="~/images/McDonalds_logo_PNG19.png" alt="">

        </div>

    </div>
    <hr>
    <div class="sm:m-12 p-2 w-screen sm:w-content sm:m-6 flex justify-between">
        <p class="font-bold mt-8 sm:text-4xl text-left">Explore Jobs by <br> Category</p>
        <p class="font-hairline text-left"> Get the most exciting jobs from all around the world <br>
            and grow your career fast with others</p>

    </div>
    <div class="sm:pb-8">
        <div class="sm:p-6 p-4 sm:flex justify-between">
            <div class="sm:p-6 p-4 sm:m-3 flex w-full border rounded-lg">
            <div> <img src="wwwroot/images/Icons/icons8-square-24 (5).png" alt=""></div>

                <p class=""> Digital Marketing</p>
            </div>
            <div class="sm:p-6 p-4 sm:m-3 flex w-full border rounded-lg">
                                <div> <img src="~/images/Icons/icons8-square-24 (4).png" alt=""></div>

                <p class=""> Content Writing</p>
            </div>
            <div class="sm:p-6 p-4 sm:m-3 flex w-full border rounded-lg">
                                <div> <img src="~/images/Icons/icons8-square-24 (3).png" alt=""></div>

                <p class=""> HR Management</p>
            </div>
            <div class="sm:p-6 p-4 sm:m-3 w-full flex border rounded-lg">
             <div> <img src="~/images/Icons/icons8-square-24 (2).png" alt=""></div>

                <p class=""> Development</p>
            </div>

        </div>
        <div class="sm:p-6 p-4 sm:flex justify-between">
            <div class="sm:p-6 p-4 sm:m-3 flex w-full border rounded-lg">
                <div> <img src="~/images/Icons/icons8-square-24 (2).png" alt=""></div>
                <p class=""> Design</p>
            </div>
            <div class="sm:p-6 p-4 sm:m-3 flex w-full border rounded-lg">
                <div><img src="~/images/Icons/icons8-square-24 (5).png" alt=""></div>
                <p class="">Account & Finance</p>
            </div>
            <div class="sm:p-6 p-4 sm:m-3 flex w-full border rounded-lg"> <img src="~/images/Icons/icons8-square-24 (1).png" alt="">
                <p class="">Sales</p>
            </div>
            <div class="sm:p-6 p-4 sm:m-3 flex w-full border rounded-lg">
                <div><img src="~/images/Icons/icons8-square-24 (3).png" alt=""></div>
                <p class="">Project Management</p>
            </div>

        </div>
    </div>
    <div class="bg-gray-100 w-screen sm:w-content lg:w-content p-6">

        <div class="mt-6 sm:ml-6 sm:mr-6 sm:flex sm:justify-between sm:m-6">
            <div>
                <h1 class="font-bold sm:text-4xl text-left">Our Featured Jobs</h1>
                <p class=" text-left font-hairline"></p>
            </div>
            <button class="rounded-lg p-2 bg-orange-300 text-orange-400 m-4 text-sm">View All Jobs</button>
        </div>
        <div class="sm:m-6 sm:flex">
            <div class="rounded-lg w-full bg-white m-4 p-4">
                <p>New York,USA</p>
                <h3 class="font-bold text-2xl">Full-Stack Web Developer</h3>
                <p>By Charocon Ltd</p>
                <div class="flex justify-between">
                    <p class="mt-4"> 1 Week ago</p>
                    <button class=" bg-green-400 rounded-lg text-white p-2">Apply Now</button>
                </div>
            </div>
            <div class="rounded-lg w-full  bg-white m-4 p-4">
                <p>New York,USA</p>
                <h3 class="font-bold text-2xl">Senior Project Manager</h3>
                    <p>By Google Inc</p>
                    <div class="flex justify-between">
                        <p class="mt-4"> 1 Week ago</p>
                        <button class=" bg-green-400 text-white rounded-lg p-2">Apply Now</button>
                    </div>
            </div>
            <div class="rounded-lg w-full  bg-white m-4 p-4">
                <p>New York,USA</p>
                <h3 class="font-bold text-2xl">Junior Graphic Designer</h3>
                <p>By Canava</p>
                <div class="flex justify-between">
                    <p> 2 Weeks ago</p>
                    <button class=" bg-green-400 rounded-lg text-white p-2">Apply Now</button>
                </div>
            </div>
        </div>

    </div>

    <div class="sm:m-4 grid grid-cols-2">
        <div>
            <h1 class="sm:text-5xl text-3xl ml-3 text-left md:p-12 sm:text-4xl mt-24 font-bold"> Get hired by the <br> popular startups
            </h1>
            <p class="mt-4 m-4">This text here us just to occupy space and fill the gap,
                <br> I apparently dont know what i'm writing, but id continue otherwise</p>
            <button class="rounded-lg p-4  bg-orange-600 text-white m-4">Check Listing </button>

        </div>
        <div class="sm:grid grid-cols-2">
            <img class="items-center justify-center rounded-lg " src="~/images/pexels-moose-photos-1586973.jpg" alt="">
            <div class="flex-col m-2">
                <img class="rounded-lg" src="~/images/pexels-mentatdgt-1569076.jpg" alt="">
                <img class=" " src="~/images/avel-chuklanov-DUmFLtMeAbQ-unsplash.jpg" alt="">
            </div>
        </div>

    </div>
    <div class="bg-gray-100 p-6 w-screen sm:w-fit ">
        <div class=" mt-6 ml-6 sm:mr-6 flex justify-between sm:m-6 ">
            <div>
                <h1 class="font-bold sm:text-4xl text-left p-6">What they say About <br> Our Services</h1>
                <p class=" text-left font-hairline"></p>
            </div>
            <button class="rounded-lg p-2 bg-gray-800 m-4 text-sm text-white">View All Jobs</button>
        </div>
        <div class="sm:flex justify-between sm:m-6">

            <div class="p-4 rounded  bg-white m-2">
                <p>This text here us just to occupy space and fill the gap,
                    <br> I apparently dont know what i'm writing, but id continue otherwise</p>
                <div class="rounded w-1/2  m-4 bg-gray-300 flex p-2">
                    <img class="rounded-full" src="" alt="">
                    <p class="font-semibold">Wade Warren <br> <span class="font-hairline">UI Designer Adobe</span></p>
                </div>
            </div>
            <div class="p-4 rounded bg-white m-2">
                <p>This text here us just to occupy space and fill the gap,
                    <br> I apparently dont know what i'm writing, but id continue otherwise</p>
                <div class="rounded w-1/2 m-4 bg-gray-300 flex p-2">
                    <img class="rounded-full" src="" alt="">
                    <p class="font-semibold">Wade Warren <br> <span class="font-hairline">UI Designer Adobe</span></p>
                </div>
            </div>
            <div class="p-4 rounded bg-white m-2">
                <p>This text here us just to occupy space and fill the gap,
                    <br> I apparently dont know what i'm writing, but id continue otherwise</p>
                <div class="rounded w-1/2  m-4 bg-gray-300 flex p-2">
                    <img class="rounded-full" src="" alt="">
                    <p class="font-semibold">Wade Warren <br> <span class="font-hairline">UI Designer Adobe</span></p>
                </div>
            </div>
        </div>

    </div>


    <div class="bg-teal-200 w-screen">
        <p class="sm:text-4xl text-3xl  sm:m-6 text-center pt-6">Suscribe to get instant job alerts</p>
        <p class="text-center font-hairline m-4">Dont want to miss anything? Subscribe right now and get <br>
            special promotion and mmonthly newsletter</p>
        <div class="mt-2 flex justify-center w-l/2 rounded-lg justify-items-end">
            <div class=" grid justify-items-end bg-white rounded-lg w-1/2 ">
                <button class="m-2 rounded-lg bg-gray-800 text-white p-2">Explore Now

                </button>
            </div>
        </div>
        <footer class="mt-6 w-screen">
            <div class="flex justify-between sm:m-8">
                <p class="font-bold text-xl p-2 ">Whiter</p>
                <div class="flex p-2 ">
                    <p class="sm:m-2 p-2">Discover</p>
                    <p class="sm:m-2 p-2">Special Deeds</p>
                    <p class="sm:m-2 p-2">Community</p>
                    <p class="sm:m-2 p-2">About Us</p>
                </div>
                <div class="sm:flex">
                    <img src="" alt="">
                    <img src="" alt="">
                    <img src="" alt="">
                </div>
            </div>
        </footer>
    </div>



</body>

</html>